{% extends "base.html" %}
{% load assign %}
{% load i18n %}

{% block title %}
  {% assign field form.instance %}
  {% if field.id %}
    {% trans "Field" %} «{{ field.name }}»
  {% else %}
    {% trans "New Field" %}
  {% endif %}
{% endblock %}

{% block content %}
  <form action="." method="post">

    {# Скрытые поля #}
    {% include "form-hiddens.html" %}
    {% if optionsFormset %}
      {{ optionsFormset.management_form }}
      {% for form in optionsFormset %}
        {% include "form-hiddens.html" %}
      {% endfor %}
    {% endif %}

    {# Редактируемые поля #}
    <table class="formTable">
      {% include "form-template.html" %}
    </table>

    {% if optionsFormset %}
      {% assign formset optionsFormset %}
      {% include "formset-table-template.html" %}
    {% endif %}

    {# Кнопочки #}
    <div class="formButtons">
      <input type="submit" name="save" value="{% trans 'Submit' %}"/>
      {% if form.instance.id %}
        <input type="submit" name="delete" value="{% trans 'Delete' %}"/>
      {% endif %}
      {% if form.backurl.value %}
        <a class="control backLink" href="{{ form.backurl.value }}">{% trans "Back" %}</a>
      {% endif %}
    </div>

  </form>
{% endblock %}
